gen/
libnccl.so
model_best.t7
checkpoints
tr/*
feat/*
models/dense*
models/wideresnet*
models/Dense*
.buildpath
.project
*.settings
batch.txt
test.lua
lsuv.lua
BND.lua
impInit.lua
SELU.lua
SpatialConvolution*
test2.lua
vvvv.lua
Drop*